# Sanity CMS Configuration
PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
PUBLIC_SANITY_DATASET=**********
PUBLIC_SANITY_API_VERSION=20**-**-**

# Web3Forms Contact Form
PUBLIC_WEB3FORMS_KEY=your_web3forms_access_key
PUBLIC_CONTACT_EMAIL=your_email@example.com
